{{ if (eq .chezmoi.osRelease.id "garuda") }} 
# garuda
[edit]
  command = "nvim"

[data]
	email = "easy-quest@mal.ru"
	name = "Ivan Yatrebov"

[diff]
  command = "meld"
  args = ["--diff", "{{ .Destination }}", "{{ .Target }}"]

{{ else if (eq .chezmoi.os "linux" ) }}
# linux
{{ else }}
# other operating system
[merge]
  command = "nvim"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
{{ end }}

[git]
  autoCommit = true
  autoPush = true
