{{ if (eq .chezmoi.os "garuda") }}
# darwin
{{ else if (eq .chezmoi.os "linux" ) }}
# linux
{{ else }}
# other operating system
{{ end }}

[edit]
  command = "nvim"

[git]
  autoCommit = true
  autoPush = true
    
[data]
	email = "easy-quest@mal.ru"
	name = "Ivan Yatrebov"

[diff]
  exclude = ["scripts"]
